html {
  background-color: #ffffff;
}

body {
  background-image: url("tcgbl.jpg");
  background-repeat: no-repeat;
  background-position: center right;
}

.cardinfo {
display: none;


}


.websitetitle {
  text-align: center;
}

#input_text {
  width: 250px;
  margin: auto;
}

.nav-extended, .button {
  background-color: dodgerblue;
}

.loadcard {
  display: block;
  margin-top: 140px;
  margin-left: 560px;
}

.cardname {
  text-align: center;
}

.card {
  margin-left: 600px;
}

.paragraphcard {
  text-align: center;
  margin: 0px 400px 0px 400px;
}

.addcollection li {
  display: inline;
}

.addcollectiontext {
  margin-left: 460px;
}

.cardswanttitle {
  text-align: center;
  margin-top: 40px;
}

.cardswant {
  text-align: center;
}

.cardswant li {
  text-align: center;
  display: inline;
  margin-left: 120px;
  margin-right: 120px;
}
