.viz {
  height: 300px;
  width: 380px;
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
}

.buttonlist {
  list-style: none;
}

.lbtn {
  display: inline;
  margin: 0px 8px 0px 8px;
}

.t {
  text-align: center;
}

#ft {
  margin-left: 70px;
}
